@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
html {
  font-size: 62.5%;
}

:root {
  --orange-main: #d87d4a;
  --orange-secondary: #fbaf85;
  --white: #ffffff;
  --gray-medium: #f1f1f1;
  --gray-light: #fafafa;
  --black-pure: #000000;
  --black-heavy: #000000;
  --red-main: #cd2c2c;
}

body {
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;
}
